@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=switzer@1,2&display=swap");

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@media {
  :root {
    --background: #c2c2c2;
  }
}
@theme {
  --font-script: Caveat, cursive;
  --font-title: Switzer, sans-serif;
}

body {
  background: url("https://cdn.sanity.io/images/3r2xt54q/production/6bb4b5791495fb031cecf4b1ff37f80d08239c6f-1816x1948.png");
}
