@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #c2c2c2;
        --foreground: #ededed;
    }
}

body {
    background: url("https://cdn.sanity.io/images/3r2xt54q/production/6bb4b5791495fb031cecf4b1ff37f80d08239c6f-1816x1948.png");
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
